header {
    margin-top: 10px;
    margin-right: 20px;
    text-align: end;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#gmail{
    margin-right: 5px;
}

#login{
    background-color: #1a73e8;
    color: white;
}
body {
    text-align: center;
}

#foogle{
    margin-top: 8%;
    height: 92px;
    aspect-ratio: auto;
}

#search{
    margin-top: 20px;
    min-width: 64%;
    height: 30px;
    max-width: 560px;
}

input[type=submit]{
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    padding: 0.5em 1em;
}
.buttons{
    margin-top: 26px;
}