header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;  
}

#top-links{
    padding: 5px 10px 0px 5px;
    color: #000000DE
}


#gapps{
    font-family: 'Material Icons';
    font-size: 24px;
    color: #5f6368;
    margin-left: 16px;
    padding: 8px;
    border-radius: 50%;;
}

#gapps:hover{
    background-color: rgba(60,64,67,0.08);
}

#gh-icon{
    height: 100%;
    max-height: 32px;
    border-radius: 50%;
    margin-left: 20px;;
    margin-right: 20px;
}

#gh-icon:hover{
    box-shadow: 0 0px 10px rgb(230, 73, 230)
}

body {
    min-height: 100vh;
    min-width: 1;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

main{
    align-content: flex-start;
    text-align: center;
}


#login{
    background-color: #1a73e8;
    color: white;
}

#foogle{
    width: 100%;
    max-width: 260px;
    padding-top: 50px;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
    height: 30px;
    margin: auto;
    padding: 5px;
    border: 1px solid hsl(213, 22%, 90%);
    border-radius: 20px;
}

.searchbar:hover{
    box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

#search-ico{
    font-size: 20px;
    color: #9aa0a6;
    padding: 5px 5px 5px 10px;
}

#mic{
    height: 20px;
    padding: 5px 10px 5px 5px;
}


input[type=text]{
    width: 100%;
    max-width: 480px;
    height: 28px;
    font-size: 18px;
    border: none;
}

input[type=text]:focus{
    outline: none;
}

input[type=submit]{
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    font-size: 14px;
    padding: 0.5em 1em;
}

input[type=submit]:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
}


.buttons{
    margin-top: 20px;
}

.buttons input{
    margin: 0px 5px 0px 5px;
}

footer{
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #dadce0;
    width: 100wh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 1200px){
    footer{
        justify-content: space-evenly;
    }
}

@media only screen and (max-height: 480px){
    main{
        margin-bottom: 20em;
    }
    footer{
        position: relative;
    }
}


footer a{
    color: #70757a;
    padding: 0px 8px 0px 8px;
}

footer div{
    padding: 15px 26px 15px 26px;
    
}